* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#454545), color-stop(51%, rgba(51, 51, 51, 0.992034)), to(#0d0d12));
  background-image: linear-gradient(90deg, #454545 0%, rgba(51, 51, 51, 0.992034) 51%, #0d0d12 100%);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .charging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 40px;
}

.content .charging .toggle-icon {
  padding-right: 20px;
  font-size: 2.4rem;
  -webkit-transition: color .7s;
  transition: color .7s;
}

.content .charging .color-icon {
  color: seagreen;
}

.content .charging .toggle-box {
  position: relative;
  width: 60px;
  height: 30px;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 40px;
}

.content .charging .toggle-box .switch {
  position: absolute;
  left: -4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid #fff;
  cursor: pointer;
  -webkit-transition: left .5s, background-color .1s;
  transition: left .5s, background-color .1s;
}

.content .charging .toggle-box .on-switch {
  left: 50%;
  background-color: seagreen;
}

.content .battery {
  position: relative;
  width: 120px;
  height: 200px;
  margin: 15px 0;
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 0 0 10px 10px;
}

.content .battery:before {
  content: '';
  position: absolute;
  height: 10px;
  width: 30px;
  top: -8px;
  border-radius: 4px 4px 0 0;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
}

.content .battery .on-charging {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
}

.content .battery .icon-opacity {
  opacity: 1;
  z-index: 100;
}

.content .battery .energy {
  position: absolute;
  width: 100%;
  height: 5%;
  background-color: #6d1515;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  z-index: -1;
}

.content .battery .animation {
  -webkit-animation: start 3s infinite;
          animation: start 3s infinite;
}

@-webkit-keyframes start {
  5% {
    height: 5%;
  }
  20% {
  }
  40% {
  }
  60% {
  }
  80% {
  }
  100% {
    height: 100%;
    background-color: #156d3c;
  }
  0% {
    height: 0%;
  }
  5% {
    height: 5%;
  }
}

@keyframes start {
  5% {
    height: 5%;
  }
  20% {
  }
  40% {
  }
  60% {
  }
  80% {
  }
  100% {
    height: 100%;
    background-color: #156d3c;
  }
  0% {
    height: 0%;
  }
  5% {
    height: 5%;
  }
}
/*# sourceMappingURL=style.css.map */